@model CrochetCatPause.ViewModels.HomePageViewModel
@*model IEnumerable<CrochetCatPause.Models.BlogPost>*@

@{
    ViewBag.Title = "Home Page";
}

<div class="blogContainer">
    <script type="text/javascript" src="http://crochetcatpause.tumblr.com/js" ></script>
</div>

<div class="showsContainer">
    <h1>Upcoming Shows</h1>
    @foreach (var item in Model.UpcomingShows) {
        <div class="showPost">
            <p class="showDate">@item.ShowDate</p>
            <p class="showLoc">@item.City @item.State</p>
            <p class="showVenue">@item.Venue</p>
        </div>
        <hr />
    }
</div>