@{
    ViewBag.Title = "Listen";
}

<iframe class="float-left" style="border: 0; width: 350px; height: 470px;" src="http://bandcamp.com/EmbeddedPlayer/album=27779013/size=large/bgcol=333333/linkcol=e99708/notracklist=true/transparent=true/" seamless><a href="http://crochetcatpause.bandcamp.com/album/forever-my-friend-kuma-new-album-sampler">forever my friend kuma (new album sampler) by crochetcatpause</a></iframe>

<iframe class="float-right" style="border: 0; width: 350px; height: 470px;" src="http://bandcamp.com/EmbeddedPlayer/album=2514299585/size=large/bgcol=333333/linkcol=e99708/notracklist=true/transparent=true/" seamless><a href="http://crochetcatpause.bandcamp.com/album/coolteeth">coolteeth by crochetcatpause</a></iframe>

<iframe style="border: 0; width: 100%; height: 42px;" src="http://bandcamp.com/EmbeddedPlayer/album=2514299585/size=small/bgcol=333333/linkcol=e99708/t=1/transparent=true/" seamless><a href="http://crochetcatpause.bandcamp.com/album/coolteeth">coolteeth by crochetcatpause</a></iframe>

<iframe style="border: 0; width: 100%; height: 42px;" src="http://bandcamp.com/EmbeddedPlayer/album=27779013/size=small/bgcol=333333/linkcol=e99708/t=1/transparent=true/" seamless><a href="http://crochetcatpause.bandcamp.com/album/forever-my-friend-kuma-new-album-sampler">forever my friend kuma (new album sampler) by crochetcatpause</a></iframe>

