body {
    background: #010202;
    color: white;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

header {
}

ul#menu {
    list-style: none;
    position: absolute;
    bottom: 0;
}

ul#menu li {
    display: inline;
    margin: 25px;
    font-size: 25px;
}

ul#menu li a {
    text-decoration: none;
    font-weight: 600;
}

    ul#menu li a:visited, ul#menu li a:link, ul#menu li a:active {
        color: #885544
    }

    ul#menu li a:hover {
        color: #803010;
    }

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

    .content-wrapper nav {
        background: url(images/headerthing.jpg);
        height: 315px;
        position: relative;
    }